.load{
    cursor: pointer;
    border: 2px solid #2a3562;
    border-radius: 10px;
    background-color: #697dd0;
    font-size: 24px;
    color: #ffffff;
    padding: 10px 15px;
    width: 100%;
    box-shadow: 5px 7px 10px -6px rgb(112, 121, 153);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load:hover,
.load:focus{
    background-color: #cad3f8;
    color: #2a3562;
}
